distech-service-setup.json
[
    {
        "id": "78e6d0a0df7f9fd3",
        "type": "subflow",
        "name": "Subflow 4",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "6b1d17c80b916d3b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 200,
                "wires": [
                    {
                        "id": "2c6e3165fa0e9d62",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2c6e3165fa0e9d62",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "Check state Container",
        "func": "let container = msg.containerConfig.name;\nlet numberToCreate = flow.get('numberToCreate');\nlet numberCreated = flow.get('numberCreated');\nnumberCreated++;\nflow.set('numberCreated',numberCreated);\nif (msg.payload[msg.containerConfig.name].state === \"running\") {\n    node.warn(\"Container \" + msg.containerConfig.name + \" successfully started \" + (numberToCreate-numberCreated) + \" left.\");\n        if((numberToCreate-numberCreated)==0)\n        {\n            node.warn(\"All containers running successfully, SETUP service finished.\");\n        }\n    return [msg, null, { \"queueToken\": 1 }];\n\n} else {\n    node.warn(msg.containerConfig.name + \" not running, restart the flow, use the DELETE ALL service, then try again.\");\n    return [null, msg, null];\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1117,
        "y": 200,
        "wires": [
            [],
            [
                "75b3435f62bed7cb"
            ],
            [
                "5179e72b03d2e9af"
            ]
        ]
    },
    {
        "id": "c04d630d859f47a6",
        "type": "http request",
        "z": "78e6d0a0df7f9fd3",
        "name": "HTTP GET",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 907,
        "y": 200,
        "wires": [
            [
                "2c6e3165fa0e9d62"
            ]
        ]
    },
    {
        "id": "75b3435f62bed7cb",
        "type": "delay",
        "z": "78e6d0a0df7f9fd3",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "c24c89e4dfd5f815"
            ]
        ]
    },
    {
        "id": "5179e72b03d2e9af",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "queue manager",
        "func": "let queue = flow.get('queue');\nlet queueToken = flow.get('queueToken');\nlet queueCount = flow.get('queueCount');\n\n\nif (msg.queueToken) \n{\n    flow.set('queueToken', 1); \n}\nelse\n{\n    queue.push(msg);\n    flow.set('queue', queue);\n}\n\nif (flow.get('queueToken'))\n{\n    let index = queue.findIndex(m => m.msgNumber === queueCount);\n    if (index !== -1) \n    {\n        let outMsg = queue.splice(index, 1)[0];\n        flow.set('queue', queue);\n        flow.set('queueCount', queueCount + 1);\n        flow.set('queueToken',0);\n        return outMsg;\n    }\n    else \n    {\n        return null;\n    }\n}\nelse\n{\n    return null;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "flow.set('queueToken', 1);\nflow.set('queueCount', 0);\nflow.set('queue',[]);",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 80,
        "wires": [
            [
                "cc1815876a4cd662"
            ]
        ]
    },
    {
        "id": "c24c89e4dfd5f815",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "Read state Container",
        "func": "return {\n    \"containerConfig\": msg.containerConfig,\n    \"fullconfiguration\": msg.fullconfiguration,\n    method: \"GET\",\n    url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers\",\n    headers: {\n        Authorization: msg.fullconfiguration.httpAuth,\n        \"Content-Type\": \"application/json\"\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            [
                "c04d630d859f47a6"
            ]
        ]
    },
    {
        "id": "7a3d868396ba541e",
        "type": "http request",
        "z": "78e6d0a0df7f9fd3",
        "name": "HTTP POST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "75b3435f62bed7cb"
            ]
        ]
    },
    {
        "id": "c8ba59147df810d5",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "Check Images",
        "func": "let imgsPulled = msg.payload;\nlet found = Object.keys(imgsPulled).some(imgsPulled => imgsPulled.startsWith(msg.containerConfig.image));\n;\nmsg.queueToken = 0;\nif (found) \n{  \n    return [msg, null];\n} \nelse \n{\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 997,
        "y": 80,
        "wires": [
            [
                "5179e72b03d2e9af"
            ],
            [
                "e9e76eed0fa1bcdd"
            ]
        ]
    },
    {
        "id": "cc1815876a4cd662",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "Create Container",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers/create-container\";\n\nmsg.headers = {\n  Authorization: msg.fullconfiguration.httpAuth,\n  \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n  \"name\": msg.containerConfig.name,\n  \"options\": msg.containerConfig.config,\n};\nmsg.payload.options.image = msg.containerConfig.image;\nnode.warn(\"Creating container \" + msg.containerConfig.name);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 140,
        "wires": [
            [
                "4291dccc2357f166"
            ]
        ]
    },
    {
        "id": "2fd57e32c6ab6297",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "Start Container",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers/start\";\n\nmsg.headers = {\n    Authorization: msg.fullconfiguration.httpAuth,\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    \"container-name\": msg.containerConfig.name,  \n};\nnode.warn(\"Container \" + msg.containerConfig.name + \" successfully created.\");\nnode.warn(\"Starting container \" + msg.containerConfig.name + \".\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 200,
        "wires": [
            [
                "7a3d868396ba541e"
            ]
        ]
    },
    {
        "id": "54622bacd373580d",
        "type": "http request",
        "z": "78e6d0a0df7f9fd3",
        "name": "HTTP GET",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 807,
        "y": 80,
        "wires": [
            [
                "c8ba59147df810d5"
            ]
        ]
    },
    {
        "id": "e9e76eed0fa1bcdd",
        "type": "delay",
        "z": "78e6d0a0df7f9fd3",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 497,
        "y": 80,
        "wires": [
            [
                "eb185aed308260ac"
            ]
        ]
    },
    {
        "id": "4291dccc2357f166",
        "type": "http request",
        "z": "78e6d0a0df7f9fd3",
        "name": "HTTP POST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 407,
        "y": 140,
        "wires": [
            [
                "39dff528882764b5"
            ]
        ]
    },
    {
        "id": "daca15503e5c6091",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "check Container",
        "func": "let containersCreated = msg.payload;\n\nlet found = Object.values(containersCreated).some(c =>\n    c.image && c.image.startsWith(msg.containerConfig.image)\n);\n\nif (found) \n{\n    return [msg, null];\n} else \n{\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "2fd57e32c6ab6297"
            ],
            [
                "39dff528882764b5"
            ]
        ]
    },
    {
        "id": "eb185aed308260ac",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "Read Images",
        "func": "return {\n    \"msgNumber\": msg.msgNumber,\n    \"total\": msg.total,\n    \"containerConfig\": msg.containerConfig,\n    \"fullconfiguration\": msg.fullconfiguration,\n    \"method\": \"GET\",\n    \"url\": \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/images\",\n    \n    \"headers\": \n    {\n        Authorization: msg.fullconfiguration.httpAuth,\n        ContentType: \"application/json\"\n    },\n    \"payload\": {},\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 647,
        "y": 80,
        "wires": [
            [
                "54622bacd373580d"
            ]
        ]
    },
    {
        "id": "0d9c0e555daf761c",
        "type": "http request",
        "z": "78e6d0a0df7f9fd3",
        "name": "HTTP POST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 347,
        "y": 80,
        "wires": [
            [
                "e9e76eed0fa1bcdd"
            ]
        ]
    },
    {
        "id": "39dff528882764b5",
        "type": "delay",
        "z": "78e6d0a0df7f9fd3",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 557,
        "y": 140,
        "wires": [
            [
                "be1fcdd95ff2f128"
            ]
        ]
    },
    {
        "id": "4c9bc0df68676ac5",
        "type": "http request",
        "z": "78e6d0a0df7f9fd3",
        "name": "HTTP GET",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 140,
        "wires": [
            [
                "daca15503e5c6091"
            ]
        ]
    },
    {
        "id": "6b1d17c80b916d3b",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "PULL Img",
        "func": "node.warn(\"Starting insstallation service in device \" + msg.fullconfiguration.ip + \".\");\n\nflow.set('queueToken', 1); \nflow.set('queueCount', 0);\n\nlet tosend = \n{\n  \"fullconfiguration\": msg.fullconfiguration,\n  \"msgNumber\": 0,\n  \"total\": msg.containerList.length,\n  \"method\": \"POST\",\n  \"url\": \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/images/pull-image\",\n\n  \"headers\": \n  {\n    Authorization: msg.fullconfiguration.httpAuth,\n    ContentType: \"application/json\"\n  },\n  \"payload\": {}\n}\nflow.set('numberToCreate',msg.containerList.length);\nflow.set('numberCreated',0);\nnode.warn(msg.containerList.length + \" containers to create.\");\nfor (let i = 0; i < msg.containerList.length; i++) \n{\n\n  tosend.msgNumber = i;\n  tosend.containerConfig = msg.containerList[i];\n  tosend.payload.image = msg.containerList[i].image;\n  node.send(tosend);\n  node.warn(\"Pulling \"+ msg.containerList[i].image + \".\");\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 197,
        "y": 80,
        "wires": [
            [
                "0d9c0e555daf761c"
            ]
        ]
    },
    {
        "id": "be1fcdd95ff2f128",
        "type": "function",
        "z": "78e6d0a0df7f9fd3",
        "name": "Read Container",
        "func": "\nreturn {\n    \"fullconfiguration\": msg.fullconfiguration,\n    \"msgNumber\": msg.msgNumber,\n    \"total\": msg.total,\n    \"containerConfig\": msg.containerConfig,\n    method: \"GET\",\n    url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers\",\n    headers: {\n        Authorization: msg.fullconfiguration.httpAuth,\n        \"Content-Type\": \"application/json\"\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 717,
        "y": 140,
        "wires": [
            [
                "4c9bc0df68676ac5"
            ]
        ]
    },
    {
        "id": "35f296824603bf10",
        "type": "subflow",
        "name": "Subflow 3",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "779cf896fbaf7fa6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1460,
                "y": 320,
                "wires": [
                    {
                        "id": "00c2542bbaf592eb",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "88a02175be0d7d52",
        "type": "http request",
        "z": "35f296824603bf10",
        "name": "HTTP POST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "fb5e70c7bd0ec61b"
            ]
        ]
    },
    {
        "id": "58ecc59192ab7203",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Stop container",
        "func": "node.warn(\"Starting deletion of current services in device \" + msg.fullconfiguration.ip);\n\nlet containers = Object.values(msg.payload);\nlet index = 0;\n\ncontainers.keys();\nflow.set('numberToDelete',containers.length);\nflow.set('numberDeleted',0);\nnode.warn(containers.length+\" containers to delete left.\");\nfor (let i = 0; i < containers.length; i++) {\n\n  let container = containers[i];\n\n  let tosend = {\n    fullconfiguration: msg.fullconfiguration,\n    msgNumber: index,\n    containername: container.key,\n    method: \"POST\",\n    url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers/stop\",\n\n    headers: {\n      Authorization: msg.fullconfiguration.httpAuth,\n      \"Content-Type\": \"application/json\"\n    },\n\n    payload: {\n      \"container-name\": container.key\n    }\n  };\n\n  node.send(tosend);\n  node.warn(`Stopping container ${container.key} (${container.state}).`);\n\n  index++;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "88a02175be0d7d52"
            ]
        ]
    },
    {
        "id": "8abc0894ff4c4a22",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Delete container",
        "func": "msg.method = \"DELETE\";\nmsg.url = \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers/\" +  msg.containername;\n\nmsg.headers = {\n  Authorization: msg.fullconfiguration.httpAuth,\n  \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n  \"container-name\":  msg.containername,\n};\n  node.warn(\"Deleting container \" +  msg.containername + \".\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "c20fe9e716e74590"
            ]
        ]
    },
    {
        "id": "c20fe9e716e74590",
        "type": "http request",
        "z": "35f296824603bf10",
        "name": "HTTP DELETE",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "d38f90b5352cf469"
            ]
        ]
    },
    {
        "id": "8646e8c85762a6df",
        "type": "http request",
        "z": "35f296824603bf10",
        "name": "HTTP GET",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 80,
        "wires": [
            [
                "58ecc59192ab7203"
            ]
        ]
    },
    {
        "id": "779cf896fbaf7fa6",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Read containers",
        "func": "\nreturn {\n    \"fullconfiguration\": msg.fullconfiguration,\n    method: \"GET\",\n    url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers\",\n    headers: {\n        Authorization: msg.fullconfiguration.httpAuth,\n        \"Content-Type\": \"application/json\"\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "8646e8c85762a6df"
            ]
        ]
    },
    {
        "id": "0f297d7f873c8c06",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Read containers",
        "func": "return {\n  \"containername\": msg.containername,\n  \"msgNumber\": msg.msgNumber,\n  \"fullconfiguration\": msg.fullconfiguration,\n  method: \"GET\",\n  url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers\",\n  headers: {\n    Authorization: msg.fullconfiguration.httpAuth,\n    \"Content-Type\": \"application/json\"\n  }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 140,
        "wires": [
            [
                "6b06f1ec2d4261ae"
            ]
        ]
    },
    {
        "id": "6b06f1ec2d4261ae",
        "type": "http request",
        "z": "35f296824603bf10",
        "name": "HTTP GET",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 140,
        "wires": [
            [
                "c99134d47c441450"
            ]
        ]
    },
    {
        "id": "fb5e70c7bd0ec61b",
        "type": "delay",
        "z": "35f296824603bf10",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "0f297d7f873c8c06"
            ]
        ]
    },
    {
        "id": "c99134d47c441450",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Check containers",
        "func": "let containers = msg.payload;\n\nlet isRunning = Object.entries(containers).some(([name, c]) =>name.startsWith(msg.containername) \n &&(c.state === \"running\" || c.state === \"restarting\"));\n\nif (!isRunning) \n{\n  return [msg, null];\n} else \n{\n  return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "8abc0894ff4c4a22"
            ],
            [
                "fb5e70c7bd0ec61b"
            ]
        ]
    },
    {
        "id": "87a00c2551481b95",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Read containers",
        "func": "return {\n  \"containername\": msg.containername,\n  \"msgNumber\": msg.msgNumber,\n  \"fullconfiguration\": msg.fullconfiguration,\n  method: \"GET\",\n  url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/containers\",\n  headers: {\n    Authorization: msg.fullconfiguration.httpAuth,\n    \"Content-Type\": \"application/json\"\n  }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 200,
        "wires": [
            [
                "2d32599fdfb24473"
            ]
        ]
    },
    {
        "id": "2d32599fdfb24473",
        "type": "http request",
        "z": "35f296824603bf10",
        "name": "HTTP GET",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 200,
        "wires": [
            [
                "114260dff1d296e4"
            ]
        ]
    },
    {
        "id": "d38f90b5352cf469",
        "type": "delay",
        "z": "35f296824603bf10",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 200,
        "wires": [
            [
                "87a00c2551481b95"
            ]
        ]
    },
    {
        "id": "114260dff1d296e4",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Check containers",
        "func": "let containers = msg.payload;\nlet numbertodelete = flow.get('numberToDelete');\nlet numberdeleted = flow.get('numberDeleted');\nnumberdeleted++;\nflow.set('numberDeleted', numberdeleted);\nlet found = Object.values(containers).find(c => c.containername && c.containername.startsWith(msg.containername));\nif (!found) \n{\n  node.warn(\"Container \" + msg.containername + \" deleted, \" + (numbertodelete-numberdeleted) + \" left.\");\n  if((numbertodelete-numberdeleted) == 0)\n  {\n    node.warn(\"All containers successfully deleted, starting to delete volumes.\")\n    return [msg, null];\n  }\n  \n}\nelse \n{\n  return [null, msg];\n}\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 200,
        "wires": [
            [
                "8368fd06f8c54268"
            ],
            [
                "d38f90b5352cf469"
            ]
        ]
    },
    {
        "id": "8368fd06f8c54268",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Read volumes",
        "func": "\nreturn {\n    \"fullconfiguration\": msg.fullconfiguration,\n    method: \"GET\",\n    url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/volumes\",\n    headers: {\n        Authorization: msg.fullconfiguration.httpAuth,\n        \"Content-Type\": \"application/json\"\n    }\n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 320,
        "wires": [
            [
                "0a15db9cf25d4774"
            ]
        ]
    },
    {
        "id": "0a15db9cf25d4774",
        "type": "http request",
        "z": "35f296824603bf10",
        "name": "HTTP GET",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 320,
        "wires": [
            [
                "726172241afdd31e",
                "e5e0f31ce86ae4a4"
            ]
        ]
    },
    {
        "id": "beb7eeac58658684",
        "type": "http request",
        "z": "35f296824603bf10",
        "name": "HTTP DELETE",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "726172241afdd31e",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Delete volumes",
        "func": "msg.method = \"DELETE\";\nlet volumes = Object.values(msg.payload);\nlet index = 0;\nvolumes.keys();\nflow.set('numberToDelete',volumes.length);\nflow.set('numberDeleted',0);\nnode.warn(volumes.length+\" volumes to delete left.\");\nfor (let i = 0; i < volumes.length; i++) \n{\n  let volume = volumes[i];\n  let tosend = {\n    fullconfiguration: msg.fullconfiguration,\n    msgNumber: index,\n    containername: volume.key,\n    method: \"DELETE\",\n    url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/volumes/\" + volume.key,\n\n    headers: {\n      Authorization: msg.fullconfiguration.httpAuth,\n      \"Content-Type\": \"application/json\"\n    },\n\n    payload: {\n      \"volumeName\": volume.key\n    }\n  };\n  node.warn(\"Deleting volume \" + volume.key + \".\")\n  node.send(tosend);\n  index++;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "beb7eeac58658684"
            ]
        ]
    },
    {
        "id": "4365d01055a81459",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Read volumes",
        "func": "return {\n  \"fullconfiguration\": msg.fullconfiguration,\n  method: \"GET\",\n  url: \"https://\" + msg.fullconfiguration.ip + \"/api/rest/v2/services/containerization/volumes\",\n  headers: {\n    Authorization: msg.fullconfiguration.httpAuth,\n    \"Content-Type\": \"application/json\"\n  }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 320,
        "wires": [
            [
                "5218eae61e61fa0c"
            ]
        ]
    },
    {
        "id": "5218eae61e61fa0c",
        "type": "http request",
        "z": "35f296824603bf10",
        "name": "HTTP GET",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "2418490b3512393e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "00c2542bbaf592eb"
            ]
        ]
    },
    {
        "id": "00c2542bbaf592eb",
        "type": "function",
        "z": "35f296824603bf10",
        "name": "Check volumes",
        "func": "let volumes = msg.payload;\n\n\nif (JSON.stringify(volumes) === '{}') \n{\n  node.warn(\"All containers and volumes successfully deleted, DELETE ALL service finished.\")\n}\nelse \n{\n  return [null, msg];\n}\n\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 320,
        "wires": [
            [],
            [
                "e5e0f31ce86ae4a4"
            ]
        ]
    },
    {
        "id": "e5e0f31ce86ae4a4",
        "type": "delay",
        "z": "35f296824603bf10",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "4365d01055a81459"
            ]
        ]
    },
    {
        "id": "2418490b3512393e",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "ca05722bab3f9dfc",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4445051912658d1",
        "type": "group",
        "z": "ca05722bab3f9dfc",
        "name": "user interface",
        "style": {
            "label": true,
            "stroke": "#ffC000",
            "fill": "#ffC000",
            "fill-opacity": "0.3",
            "color": "#000000"
        },
        "nodes": [
            "0cfe454006d8317a",
            "5be91975552783db",
            "7c63889d5aa286d0",
            "ae363bdb4fafb84c"
        ],
        "x": 34,
        "y": 39,
        "w": 592,
        "h": 162
    },
    {
        "id": "b16f7ec5efc09ae2",
        "type": "group",
        "z": "ca05722bab3f9dfc",
        "name": "DO NOT modify",
        "style": {
            "stroke": "#000000",
            "fill": "#dbcbe7",
            "label": true,
            "fill-opacity": "0.35",
            "color": "#000000"
        },
        "nodes": [
            "17a3aaad37b50ffa",
            "3c419ef2d01c0534"
        ],
        "x": 634,
        "y": 39,
        "w": 392,
        "h": 162
    },
    {
        "id": "0cfe454006d8317a",
        "type": "inject",
        "z": "ca05722bab3f9dfc",
        "g": "f4445051912658d1",
        "name": "START SETUP THE THING STACK",
        "props": [
            {
                "p": "service",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "5be91975552783db"
            ]
        ]
    },
    {
        "id": "5be91975552783db",
        "type": "function",
        "z": "ca05722bab3f9dfc",
        "g": "f4445051912658d1",
        "name": "TO CONFIGURE",
        "func": "/*============TO CONFIGURE================*/\n\nconst configuration =\n{\n    targetIp: \"\",\n    login: \"\", \n    password: \"\", \n}\n\n/*============DO NOT MODIFY===============*/\n\nconst fullconfiguration =\n{\n    ip: configuration.targetIp,\n    httpAuth: \"Basic \" + Buffer.from(configuration.login + \":\" + configuration.password).toString('base64'),\n    login: configuration.login,\n    password: configuration.password,\n}\n\nswitch(msg.service){\ncase 0: \n/*--------- CHIRPSTACK CONFIGURATIONS ---------*/\n\nconst mosquittoChirpstackConfig = {\n    \"HostConfig\": {\n        \"RestartPolicy\": { \"Name\": \"unless-stopped\" },\n        \"Binds\": [\n            \"mosquitto-volume:/mosquitto/config\",\n            \"mosquitto-data-volume:/mosquitto/data\",\n            \"mosquitto-log-volume:/mosquitto/log\"\n        ]\n    }\n};\n\n\n    const postgresChirpstackConfig = {\n    \"Env\": [\"POSTGRES_PASSWORD=root\"], /*setup your password, syntax: PASSWORD=your_password*/\n    \"HostConfig\": {\n        \"Binds\": [\n            \"postgres-volume:/docker-entrypoint-initdb.d\",\n            \"postgresdata-volume:/var/lib/postgresql/data\"\n        ],\n        \"RestartPolicy\": { \"Name\": \"unless-stopped\" }\n    }\n};\n\n\n    const redisChirpstackConfig = {\n    \"Cmd\": [\"redis-server\", \"--save\", \"300\", \"1\", \"--save\", \"60\", \"100\", \"--appendonly\", \"no\"],\n    \"HostConfig\": {\n        \"Binds\": [\n            \"redis-volume:/redis\",\n            \"redisdata-volume:/data\"\n        ],\n        \"RestartPolicy\": { \"Name\": \"unless-stopped\" }\n    }\n};\n\n\nconst chirpstackConfig = {\n    \"User\": \"1000:1000\",\n    \"ExposedPorts\": { \"8080/tcp\": {} },\n    \"Env\": [\n        \"MQTT_BROKER_HOST=mosquitto\",\n        \"REDIS_HOST=redis\",\n        \"POSTGRESQL_HOST=postgres\"\n        ],\n    \"HostConfig\": {\n        \"Binds\": [\n            \"chirpstack-volume:/etc/chirpstack\",\n            \"lorawandevices-volume:/opt/lorawan-devices\"\n        ],\n        \"PortBindings\": { \"8080/tcp\": [{ \"HostPort\": \"50101\" }] },\n        \"RestartPolicy\": { \"Name\": \"unless-stopped\" },\n        \"Links\": [\"postgres:postgres-chirpstack-link\", \"mosquitto:mosquitto-chirpstack-link\", \"redis:redis-chirpstack-link\"]\n    },\n   \"Cmd\": [\"-c\", \"/etc/chirpstack\"]\n};\n\n\n        const gatewaybridgeChirpstackConfig = {\n   \"ExposedPorts\": { \"1700/udp\": {} },\n    \"Env\": [\n     \"INTEGRATION__MQTT__EVENT_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/event/{{ .EventType }}\",\n     \"INTEGRATION__MQTT__STATE_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/state/{{ .StateType }}\",\n     \"INTEGRATION__MQTT__COMMAND_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/command/#\"\n    ],\n    \"HostConfig\": {\n        \"Binds\": [ \"gateway-bridge-volume:/etc/chirpstack-gateway-bridge\" ],\n        \"PortBindings\": { \"1700/udp\": [{ \"HostPort\": \"50103\" }] },\n        \"RestartPolicy\": { \"Name\": \"unless-stopped\" },\n        \"Links\": [\"mosquitto:mosquitto-gateway-link\"]\n   }\n};\n\n\n\n        const noderedChirpstackConfig = {\n    \"HostConfig\": {\n        \"Binds\": [\"nodereddata-volume:/data\"],\n        \"PortBindings\": { \"1880/tcp\": [{ \"HostPort\": \"50080\" }] },\n        \"RestartPolicy\": { \"Name\": \"unless-stopped\" }\n    }\n};\n\n\n        const configUIChirpstackConfig = {\n    \"User\": \"0:0\",  \n    \"Env\": [\n        \"PASSWORD=univ-lorawan\"  /*setup your password, syntax: PASSWORD=your_password*/\n    ],\n    \"HostConfig\": {\n        \"Binds\": [\n            \"mosquitto-volume:/workspace/mosquitto\",\n            \"chirpstack-volume:/workspace/chirpstack\",\n            \"gateway-bridge-volume:/workspace/gatewaybridge\"\n        ],\n        \"PortBindings\": { \"8080/tcp\": [{ \"HostPort\": \"50200\" }] },\n        \"RestartPolicy\": { \"Name\": \"unless-stopped\" }\n    },\n    \"WorkingDir\": \"/workspace\"\n};\n        const alpinePostgresChirpstackConfig =\n{\n    \"Cmd\": [\n        \"sh\", \"-c\",\n        \"cat > /scripts/001-init-chirpstack.sh << 'EOF1'\\n#!/bin/bash\\nset -e\\npsql -v ON_ERROR_STOP=1 --username \\\"$POSTGRES_USER\\\" <<-EOSQL\\n    create role chirpstack with login password 'chirpstack';\\n    create database chirpstack with owner chirpstack;\\nEOSQL\\nEOF1\\n\\ncat > /scripts/002-chirpstack_extensions.sh << 'EOF2'\\n#!/bin/bash\\nset -e\\n\\npsql -v ON_ERROR_STOP=1 --username \\\"$POSTGRES_USER\\\" --dbname=\\\"chirpstack\\\" <<-EOSQL\\n    create extension pg_trgm;\\n    create extension hstore;\\nEOSQL\\nEOF2\\n\\nchmod +x /scripts/*.sh\\nchown 999:999 /scripts/*.sh\"\n    ],\n    \"HostConfig\": {\n        \"Binds\": [\"postgres-volume:/scripts\"],\n        \"AutoRemove\": false\n    }\n}\n        const alpineChirpstackConfigInit = {\n  Cmd: [\n    \"sh\",\n    \"-c\",\n    `\nmkdir -p /workspace/mosquitto /workspace/chirpstack /workspace/gatewaybridge;\n\ncat << 'EOF' > /workspace/mosquitto/mosquitto.conf\nlistener 1883\nallow_anonymous true\nEOF\n\ncat << 'EOF' > /workspace/chirpstack/chirpstack.toml\n[logging]\nlevel=\"info\"\n\n[postgresql]\ndsn=\"postgres://chirpstack:chirpstack@$POSTGRESQL_HOST/chirpstack?sslmode=disable\"\nmax_open_connections=10\nmin_idle_connections=0\n\n[redis]\nservers=[\n  \"redis://$REDIS_HOST/\",\n]\ntls_enabled=false\ncluster=false\n\n[network]\nnet_id=\"000000\"\nget_downlink_data_delay=\"2000ms\"\nenabled_regions=[\n  \"as923\",\n  \"as923_2\",\n  \"as923_3\",\n  \"as923_4\",\n  \"au915_0\",\n  \"cn470_10\",\n  \"cn779\",\n  \"eu433\",\n  \"eu868\",\n  \"in865\",\n  \"ism2400\",\n  \"kr920\",\n  \"ru864\",\n  \"us915_0\",\n  \"us915_1\",\n]\n\n[api]\nbind=\"0.0.0.0:8080\"\nsecret=\"you-must-replace-this\"\n\n[integration]\nenabled=[\"mqtt\"]\n\n[integration.mqtt]\nserver=\"tcp://$MQTT_BROKER_HOST:1883/\"\njson=true\nEOF\n\ncat << 'EOF' > /workspace/chirpstack/region_eu868.toml\n[[regions]]\nid=\"eu868\"\ndescription=\"EU868\"\ncommon_name=\"EU868\"\n\n[regions.gateway]\nforce_gws_private=false\n\n[regions.gateway.backend]\nenabled=\"mqtt\"\n\n[regions.gateway.backend.mqtt]\ntopic_prefix=\"eu868\"\nserver=\"tcp://$MQTT_BROKER_HOST:1883\"\nusername=\"\"\npassword=\"\"\nqos=0\nclean_session=false\nclient_id=\"\"\nkeep_alive_interval=\"30s\"\nca_cert=\"\"\ntls_cert=\"\"\ntls_key=\"\"\n\n[[regions.gateway.channels]]\nfrequency=868100000\nbandwidth=125000\nmodulation=\"LORA\"\nspreading_factors=[7,8,9,10,11,12]\n\n[[regions.gateway.channels]]\nfrequency=868300000\nbandwidth=125000\nmodulation=\"LORA\"\nspreading_factors=[7,8,9,10,11,12]\n\n[[regions.gateway.channels]]\nfrequency=868500000\nbandwidth=125000\nmodulation=\"LORA\"\nspreading_factors=[7,8,9,10,11,12]\n\n[[regions.gateway.channels]]\nfrequency=867100000\nbandwidth=125000\nmodulation=\"LORA\"\nspreading_factors=[7,8,9,10,11,12]\n\n[[regions.gateway.channels]]\nfrequency=867300000\nbandwidth=125000\nmodulation=\"LORA\"\nspreading_factors=[7,8,9,10,11,12]\n\n[[regions.gateway.channels]]\nfrequency=867500000\nbandwidth=125000\nmodulation=\"LORA\"\nspreading_factors=[7,8,9,10,11,12]\n\n[[regions.gateway.channels]]\nfrequency=867700000\nbandwidth=125000\nmodulation=\"LORA\"\nspreading_factors=[7,8,9,10,11,12]\n\n[[regions.gateway.channels]]\nfrequency=867900000\nbandwidth=125000\nmodulation=\"LORA\"\nspreading_factors=[7,8,9,10,11,12]\n\n[[regions.gateway.channels]]\nfrequency=868300000\nbandwidth=250000\nmodulation=\"LORA\"\nspreading_factors=[7]\n\n[[regions.gateway.channels]]\nfrequency=868800000\nbandwidth=125000\nmodulation=\"FSK\"\ndatarate=50000\n\n[regions.network]\ninstallation_margin=10\nrx_window=0\nrx1_delay=5\nrx1_dr_offset=0\nrx2_dr=0\nrx2_frequency=869525000\nrx2_prefer_on_rx1_dr_lt=0\nrx2_prefer_on_link_budget=false\ndownlink_tx_power=-1\nadr_disabled=false\nmin_dr=0\nmax_dr=5\n\n[regions.network.rejoin_request]\nenabled=false\nmax_count_n=0\nmax_time_n=0\n\n[regions.network.class_b]\nping_slot_dr=3\nping_slot_frequency=0\n\n[[regions.network.extra_channels]]\nfrequency=867100000\nmin_dr=0\nmax_dr=5\n\n[[regions.network.extra_channels]]\nfrequency=867300000\nmin_dr=0\nmax_dr=5\n\n[[regions.network.extra_channels]]\nfrequency=867500000\nmin_dr=0\nmax_dr=5\n\n[[regions.network.extra_channels]]\nfrequency=867700000\nmin_dr=0\nmax_dr=5\n\n[[regions.network.extra_channels]]\nfrequency=867900000\nmin_dr=0\nmax_dr=5\nEOF\n\ncat << 'EOF' > /workspace/gatewaybridge/chirpstack-gateway-bridge.toml\n[integration.mqtt.auth.generic]\nservers=[\"tcp://mosquitto:1883\"]\nusername=\"\"\npassword=\"\"\nEOF\n`\n  ],\n  HostConfig: {\n    Binds: [\n      \"mosquitto-volume:/workspace/mosquitto\",\n      \"chirpstack-volume:/workspace/chirpstack\",\n      \"gateway-bridge-volume:/workspace/gatewaybridge\"\n    ]\n  }\n};\n\n\n/*------------- CHIRPSTACK CONTAINERS -------------*/\n\nconst chirpstackContainersList = [\n    /*Containers will be created in order, starting from containerList[0] until containerList[n]*/\n    { image: \"alpine:20260127\", config: alpineChirpstackConfigInit, name: \"AlpineConfigInit\" },\n    { image: \"alpine:20260127\", config: alpinePostgresChirpstackConfig, name: \"Alipinepostgres\" },\n    { image: \"codercom/code-server:4.112.0-39\", config: configUIChirpstackConfig, name: \"vsCodeInBrowser\" },\n    { image: \"eclipse-mosquitto:2.0.21\", config: mosquittoChirpstackConfig, name: \"mosquitto\" },\n    { image: \"postgres:15.12-alpine\", config: postgresChirpstackConfig, name: \"postgres\" },\n    { image: \"redis:7-alpine\", config: redisChirpstackConfig, name: \"redis\" },\n    { image: \"chirpstack/chirpstack:4.11\", config: chirpstackConfig, name: \"chirpstack\" },\n    { image: \"chirpstack/chirpstack-gateway-bridge:4.0.11\", config: gatewaybridgeChirpstackConfig, name: \"gateway-bridge\" },\n    { image: \"montagny/node-red:1.3\", config: noderedChirpstackConfig, name: \"nodered\" }\n];\n    msg.containerList = chirpstackContainersList;\n    msg.fullconfiguration = fullconfiguration;\n    return [msg,null];\n    break;\n    //--------- THE THINGS STACK CONTAINERS CONFIGURATIONS ---------\n    case 1:\n    const redisTTSConfig =\n    {\n        \"Cmd\": [\"redis-server\", \"--save\", \"300\", \"1\", \"--save\", \"60\", \"100\", \"--appendonly\", \"yes\"],\n        \"HostConfig\": {\n            \"Binds\": [\"redis-volume:/data\"],\n            \"RestartPolicy\": { \"Name\": \"unless-stopped\" }\n        }\n    }\n\n    const postgresTTSConfig =\n    {\n        \"Env\": [\n            //change if needed, but you must then update the TTS configuration accordingly\n            \"POSTGRES_PASSWORD=root\",\n            \"POSTGRES_USER=root\",\n            \"POSTGRES_DB=ttn_lorawan\"\n        ],\n        \"HostConfig\": {\n            \"Binds\": [\"postgres-volume:/var/lib/postgresql/data\"],\n            \"RestartPolicy\": { \"Name\": \"unless-stopped\" }\n        }\n    }\n\n    const TTS_DOMAIN = \"TTS_DOMAIN=\" + fullconfiguration.ip;\n    const thethingsstackTTSConfig =\n    {\n        \"Env\": [\n            TTS_DOMAIN,\n            \"TTS_PORT=50085\",\n            \"TTN_LW_BLOB_LOCAL_DIRECTORY=/srv/ttn-lorawan/public/blob\",\n            \"TTN_LW_REDIS_ADDRESS=redis:6379\",\n            \"TTN_LW_IS_DATABASE_URI=postgres://root:root@postgres:5432/ttn_lorawan?sslmode=disable\",\n            \"CLI_AUTO_LOGIN=true\"\n        ],\n        \"HostConfig\": {\n            \"Binds\": [\n                \"stack-blob:/srv/ttn-lorawan/public/blob\",\n                \"stack-data:/srv/data\"\n            ],\n            \"PortBindings\": {\n                \"8885/tcp\": [{ \"HostPort\": \"50085\" }],\n                \"8884/tcp\": [{ \"HostPort\": \"50084\" }],\n                \"8887/tcp\": [{ \"HostPort\": \"50087\" }],\n                \"1700/udp\": [{ \"HostPort\": \"50017\" }]\n            },\n            \"RestartPolicy\": { \"Name\": \"unless-stopped\" },\n            \"Links\": [\"postgres:postgres-tts-link\", \"redis:redis-tts-link\"]\n        }\n    }\n\n    const noderedTTSConfig =\n    {\n        \"Image\": \"montagny/node-red:latest\",\n        \"HostConfig\": {\n            \"Binds\": [\"nodereddata-volume:/data\"],\n            \"PortBindings\": { \"1880/tcp\": [{ \"HostPort\": \"50080\" }] },\n            \"RestartPolicy\": { \"Name\": \"unless-stopped\" },\n            \"Links\": [\"thethingsstack:nodered-tts-link\"]\n        }\n    }\n\n    //------------- THE THING STACK CONTAINERS -------------\n\n    const theThingStackContainersList = [\n        //Containers will be created in order, starting from containerList[0] until containerList[n]\n        { image: \"redis:7.4.2-alpine3.21\", config: redisTTSConfig, name: \"redis\" },\n        { image: \"postgres:16.8-alpine3.20\", config: postgresTTSConfig, name: \"postgres\" },\n        { image: \"xoseperez/the-things-stack:v1.3.0\", config: thethingsstackTTSConfig, name: \"thethingsstack\" },\n        { image: \"montagny/node-red:1.3\", config: noderedTTSConfig, name: \"nodered\" }\n    ];\n    msg.containerList = theThingStackContainersList;\n    msg.fullconfiguration = fullconfiguration;\n    return [msg,null];\n\n    case 2:\n    msg.fullconfiguration = fullconfiguration;\n    return[null,msg];\n}\n\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [
            [
                "3c419ef2d01c0534"
            ],
            [
                "17a3aaad37b50ffa"
            ]
        ]
    },
    {
        "id": "7c63889d5aa286d0",
        "type": "inject",
        "z": "ca05722bab3f9dfc",
        "g": "f4445051912658d1",
        "name": "START DELETE ALL",
        "props": [
            {
                "p": "service",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "5be91975552783db"
            ]
        ]
    },
    {
        "id": "ae363bdb4fafb84c",
        "type": "inject",
        "z": "ca05722bab3f9dfc",
        "g": "f4445051912658d1",
        "name": "START SETUP CHIRPSTACK",
        "props": [
            {
                "p": "service",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "5be91975552783db"
            ]
        ]
    },
    {
        "id": "17a3aaad37b50ffa",
        "type": "subflow:35f296824603bf10",
        "z": "ca05722bab3f9dfc",
        "g": "b16f7ec5efc09ae2",
        "name": "DELETE ALL",
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3c419ef2d01c0534",
        "type": "subflow:78e6d0a0df7f9fd3",
        "z": "ca05722bab3f9dfc",
        "g": "b16f7ec5efc09ae2",
        "name": "SETUP CHIRPSTACK/THE THING STACK",
        "x": 830,
        "y": 80,
        "wires": [
            []
        ]
    }
]